.navbar {
    background-color: #333;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
  }
  .log-out{
    background-color: green;
    width:30% ;
    border: 10px 20px;
  }
  @media (max-width: 600px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background-color: #333;
      padding: 10px;
    }
    .nav-links.open {
      display: flex;
    }
    .menu-button {
      display: block;
    }
    .log-out{
      background-color: green;
      
    }
  }
  